customer_newのページ
<%= link_to "ホームへ", root_path, class: 'get' %>

<%= form_tag('/companies', method: :post) do %>


    <br>
    <h1>得意先マスタ新規登録申請</h1>
    <br>

    <div class="form-group">
        <label>承認： 事前承認　or　事後承認</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="approval" value=0 checked>
            <label class="form-check-label" for="inlineRadio1">事前</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="approval" value=1>
            <label class="form-check-label" for="inlineRadio2">事後</label>
        </div>
     </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <label>登録状況：新規取引先　or　他部門での取引あり</label>
            <br>
            <div class="form-check form-check-inline">
                <input onclick="changeDisabled2();changeAbled3();" class="form-check-input" type="radio" name="status" value="0" checked>
                <label class="form-check-label" for="inlineRadio1">新規</label>
            </div>
            <!-- onclickとかは"イベント属性"っていうねんて -->
            <div class="form-check form-check-inline">
                <input  onclick="changeAbled2();" class="form-check-input" type="radio" name="status" value="1">
                <label class="form-check-label" for="inlineRadio2">他部門登録あり</label>
            </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="registered">他部門登録番号</label>
          <input oninput="changeDisabled3();" name="registnum" id="txt2" type="text" class="form-control" placeholder="321123450S" disabled>
        </div>
      </div>
    </div>

    <div class="form-group">
        <label>国内外区分：　国内取引先　or　海外取引先</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="dometic" value=0 checked>
            <label class="form-check-label" for="inlineRadio1">国内</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" value=1 name="dometic">
            <label class="form-check-label" for="inlineRadio2">国外</label>
        </div>
     </div>


    <form　class="inline-box">
          <div class="form-group">
              <label>得意先正式名</label>
              <input type="text" name="company_name" id="txt3" class="form-control" placeholder="富永物産株式会社">
          </div>

          <div class="form-group">
              <label>得意先略名</label>
              <input name="abb_name" type="text" class="form-control" placeholder="富永物産（株）">
          </div>

          <div class="form-group">
              <label>得意先ｶﾅ名</label>
              <input name="company_kana" type="text" class="form-control" placeholder="ﾄﾐﾅｶﾞﾌﾞｯｻﾝ">
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-2">
                <label>郵便番号(ﾊｲﾌﾝなし)</label>
                  <input type="text" name="zip12" class="form-control" onKeyUp="AjaxZip3.zip2addr(this,'','address1','address1');" placeholder="5300047">
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
              <label>住所</label>
              <input type="text" name="address1" class="form-control" placeholder="大阪府大阪市北区西天満">
              <input type="text" name="address2" class="form-control" placeholder="番地(2丁目6-8)">
              <input type="text" name="address3" class="form-control" placeholder="建物名など(堂島ビルヂング)">
          </div>
          <div class="row">
            <div class="form-group">
                <span class="col-md-6">
                  <label>電話番号</label>
                  <input type="text" name="tel1" class="form-control" placeholder="06-6361-3836">
                </span>
                <span class="col-md-6">
                  <label>FAX</label>
                  <input type="text" name="fax1" class="form-control" placeholder="06-6365-6294">
                </span>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
                <span class="col-md-6">
                  <br>
                  <label>資本金</label>
                  <input type="text" name="capital" onfocus="offComma(this);" onblur="toComma(this);" class="form-control" placeholder="1200000000">
                </span>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
              <span class="col-md-6">
                <div class="form-group">
                  <label for="busyo">担当部署</label>
                  <input type="text" name="c_department" id="busyo" class="form-control" placeholder="総務経理本部">
                </div>
              </span>
              <span class="col-md-6">
                <label for="yaku">担当役職</label>
                <input type="text" name="c_position" id="yaku" class="form-control" placeholder="部長">
              </span>
          </div>

          <div class="row">
            <div class="form-group">
                <span class="col-md-6">
                  <label for="chargeperson">担当者</label>
                  <input type="text" name="person_in_c" id="chargeperson" class="form-control" placeholder="富永 太郎">
                </span>
                <span class="col-md-6">
                  <label for="mailad">メールアドレス</label>
                  <input type="text" name="c_mail" id="mailad" class="form-control" placeholder="tominaga@mail.tomco.co.jp">
                </span>
            </div>
          </div>
    </form>

    <br>
    <br>

    <div class="form-group">
      <label for="exampleFormControlSelect1">通貨</label>
      <select name="currency" class="form-control" id="exampleFormControlSelect1">
        <option value="1">JPY</option>
        <option value="2">USD</option>
        <option value="3">EUR</option>
        <option>その他</option>
      </select>
    </div>

    <div class="row">
      <div class="col-md-2">
      <div class="form-group">
        <label for="period_day">締日</label>
        <select name="period_day" class="form-control" id="period_day">
          <option value="5">05</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="31" selected>末</option>
        </select>
      </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="collect_month">回収月</label>
          <select name="collect_month" class="form-control" id="collect_month">
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
      <div class="form-group">
          <label for="collect_day">回収日</label>
          <select name="collect_day" class="form-control" id="collect_day">
            <%= for num in 1..30 do %>
            <option value="<%= num %>"><%= num %></option>
            <% end %>
            <option  value="31" selected>31</option>
          </select>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
      <div class="form-group">
        <label for="collect_condition">回収条件</label>
        <select name="collect_condition" class="form-control" id="collect_condition">
          <option value="0">全額</option>
          <option value="7">7万円以上</option>
          <option value="8">8万円以上</option>
          <option value="10">10万円以上</option>
          <option value="15">15万円以上</option>
          <option value="20">20万円以上</option>
          <option value="30">30万円以上</option>
          <option value="35">35万円以上</option>
        </select>
      </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="collect_way">回収方法</label>
          <select name="collect_way" class="form-control" id="collect_way">
            <option value="0" onclick="changeDisabled();">現金</option>
            <option value="1" onclick="changeAbled();">手形</option>
            <option value="2" onclick="changeAbled();">ﾌｧｸﾀﾘﾝｸﾞ</option>
          </select>
        </div>
      </div>


      <div class="col-md-2">
      <div class="form-group">
          <label for="pay_term">手形(ﾌｧｸﾀﾘﾝｸﾞ)日数</label>
          <input type="text" id="txt1" name="pay_term" class="form-control" placeholder="120" disabled>
      </div>
      </div>
    </div>


    <div class="form-group">
      <label>備考欄</label>
      <input type="text" name="remarks" class="form-control" placeholder="特記事項があれば、記載してください。">
    </div>


    <!-- ここから下はcollapse -->
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <div class="text-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ※本社情報が上記と異なる場合はこちらも入力してください。
            </div>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div>
              <form　class="inline-box">
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-3">
                    <label>本社郵便番号(ﾊｲﾌﾝなし)</label>
                    <input type="text" name="h_zip" size="10" class="form-control" onKeyUp="AjaxZip3.zip2addr(this,'','h_adress1','h_adress1');" placeholder="1030023">
                    </div>
                  </div>
                </div>
              <br>
              <div class="form-group">
                <label>本社住所</label>
                <input type="text" name="h_adress1" class="form-control" placeholder="東京都中央区日本橋本町">
                <input type="text" name="h_adress2" class="form-control" placeholder="番地(3丁目6-2)">
                <input type="text" name="h_adress3" class="form-control" placeholder="建物名など(小津ビルディング)">
              </div>
                <div class="row">
                  <div class="form-group">
                    <span class="col-md-6">
                      <label>本社電話番号</label>
                      <input type="text" name="h_tel" class="form-control" placeholder="03-3639-5311">
                    </span>
                    <span class="col-md-6">
                      <label>本社FAX</label>
                      <input type="text" name="h_fax" class="form-control" placeholder="03-3639-5360">
                    </span>
                  </div>
                </div>
              <br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


<button type="button" class="btn-primary btn-block" onclick="submit();" >送信</button>
<br>
<br>
<% end %>
